In [59]:
#import pandas
import pandas as pd

In [60]:
#path to csv file
school = "PyCitySchools/Resources/schools_complete.csv"
student = "PyCitySchools/Resources/students_complete.csv"

#read files
school_df = pd.read_csv(school)
student_df = pd.read_csv(student)

studentschool_df=pd.merge(student_df, school_df, on='school_name', how='left')
studentschool_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [61]:
#calculate passing scores
convert_passing_df = studentschool_df[['student_name', 'reading_score', 'math_score']]
passing_df = convert_passing_df.rename(columns={'math_score':'math_pass', 
                                                       'reading_score':'reading_pass'})

In [62]:
passing_df.loc[passing_df['math_pass']<70, 'math_pass']=0
passing_df.loc[passing_df['reading_pass']<70, 'reading_pass']=0
passing_df.loc[passing_df['math_pass']>69, 'math_pass']=1
passing_df.loc[passing_df['reading_pass']>69, 'reading_pass']=1
mathpass=(passing_df['math_pass']).sum()
readpass=(passing_df['reading_pass']).sum()
passing_df.head()

        student_name  reading_pass  math_pass
0       Paul Bradley             0          1
1       Victor Smith             1          0
2    Kevin Rodriguez             1          0
3  Dr. Richard Scott             0          0
4         Bonnie Ray             1          1

In [63]:
#calculate math & reading pass
passing_df["Passing"] = passing_df.sum(axis=1)
passing_df.head()

        student_name  reading_pass  math_pass  Passing
0       Paul Bradley             0          1        1
1       Victor Smith             1          0        1
2    Kevin Rodriguez             1          0        1
3  Dr. Richard Scott             0          0        0
4         Bonnie Ray             1          1        2

In [64]:
#calculate total
passing_df.loc[passing_df['Passing']<2, 'Passing']=0
passing_df.loc[passing_df['Passing']>1, 'Passing']=1
OverallPassing=(passing_df['Passing']).sum()
print (OverallPassing)

25528

In [65]:
### District Summary
#Total Schools
SchoolName = len (studentschool_df['school_name'].drop_duplicates())
#Total Students
TotalStudent = len(studentschool_df.index)
#Total Budget
TotalBudget = round(studentschool_df["budget"]).sum()
#Average Math Score
Math = round((studentschool_df["math_score"]).mean(),2)
#Average Reading Score
Reading = round((studentschool_df["reading_score"]).mean(),2)
#% Passing Math (The percentage of students that passed math)
mathpercent = round(((mathpass/TotalStudent)*100),2)
#% Passing Reading (The percentage of students that passed reading.)
readpercent = round(((readpass/TotalStudent)*100),2)
#% Overall Passing (The percentage of students that passed math **and** reading.)
passingpercent = round(((OverallPassing/TotalStudent)*100),2)

#Summary
summary_df=pd.DataFrame({"Total Schools": [SchoolName],
                         "Total Students":[TotalStudent], 
                        "Budget":[TotalBudget],
                        "Average Math Score":[Math],
                        "Average Reading Score": [Reading],
                        "% Math Passing":[mathpercent],
                        "% Reading Passing":[readpercent],
                        '% Overall Passing':[passingpercent]})


summary_df

,Total Schools,Total Students,Budget,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing
0,15,39170,82932329558,78.99,81.88,74.98,85.81,65.17

In [85]:
### School Summary
# Create an overview table that summarizes key metrics about each school, including:
schoolsummary_df=pd.merge(studentschool_df, passing_df, on='student_name', how='left')
schoolstat_df = schoolsummary_df.loc[:, ["school_name", "reading_score", "math_score"]]
schoolperct_df = schoolsummary_df.loc[:, ["school_name", "reading_pass", "math_pass",
                                    "Passing"]]

  # School Name
school_gp_df = schoolstat_df.groupby(["school_name"])
school_comparison_df = school_gp_df.mean()

schoolpercsum_df = schoolperct_df.groupby(["school_name"])
school_comparison2_df = schoolpercsum_df.sum()
school_comparison2_df  # School Type
  # Total Students
  # Total School Budget
  # Per Student Budget
  # Average Math Score
  # Average Reading Score
  # % Passing Math (The percentage of students that passed math.)
  # % Passing Reading (The percentage of students that passed reading.)
  # % Overall Passing (The percentage of students that passed math **and** reading.)

                       reading_pass  math_pass  Passing
school_name
Bailey High School             6691       5605     4703
Cabrera High School            2810       2625     2455
Figueroa High School           3733       3140     2599
Ford High School               3565       3061     2527
Griffin High School            2264       2079     1956
Hernandez High School          6162       5251     4352
Holden High School              733        659      619
Huang High School              3875       3259     2702
Johnson High School            6191       5220     4330
Pena High School               1437       1370     1274
Rodriguez High School          5084       4334     3569
Shelton High School            2545       2371     2199
Thomas High School             2445       2263     2129
Wilson High School             3336       3153     2935
Wright High School             2564       2376     2249

In [ ]:
### Top Performing Schools (By % Overall Passing)

* Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [ ]:
### Bottom Performing Schools (By % Overall Passing)

* Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above.

In [ ]:
### Math Scores by Grade\*\*

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
### Reading Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
### Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [ ]:
### Scores by School Size

* Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [ ]:
### Scores by School Type

* Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

As final considerations:

* Use the pandas library and Jupyter Notebook.
* You must submit a link to your Github/Git Lab repo that contains your Jupyter Notebook.
* You must include a written description of at least two observable trends based on the data.
* See [Example Solution](PyCitySchools/PyCitySchools_starter.ipynb) for a reference on the expected format.