In [16]:
#import pandas
import pandas as pd

In [57]:
#path to csv file
school = "PyCitySchools/Resources/schools_complete.csv"
student = "PyCitySchools/Resources/students_complete.csv"

#read files
school_df = pd.read_csv(school)
student_df = pd.read_csv(student)

studentschool_df=pd.merge(student_df, school_df, on='school_name', how='left')
studentschool_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [62]:
MathPassCount=studentschool_df['math_score'> 60 ].count() 

print (MathPassCount)

TypeError: '>' not supported between instances of 'str' and 'int'

In [54]:
### District Summary
#Total Schools
SchoolName = len (studentschool_df['school_name'].drop_duplicates())
#Total Students
TotalStudent = len(studentschool_df.index)
#Total Budget
TotalBudget = round(studentschool_df["budget"]).sum()
#Average Math Score
Math = round((studentschool_df["math_score"]).mean(),2)
#Average Reading Score
Reading = round((studentschool_df["reading_score"]).mean(),2)
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math **and** reading.)
#Summary
summary_df=pd.DataFrame({"Total Schools": [SchoolName],
                         "Total Students":[TotalStudent], 
                        "Budget":[TotalBudget],
                        "Average Math Score":[Math],
                        "Average Reading Score": [Reading]})

summary_df

,Total Schools,Total Students,Budget,Average Math Score,Average Reading Score
0,15,39170,82932329558,78.99,81.88

In [ ]:
### School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [ ]:
### Top Performing Schools (By % Overall Passing)

* Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [ ]:
### Bottom Performing Schools (By % Overall Passing)

* Create a table that highlights the bottom 5 performing schools based on % Overall Passing. Include all of the same metrics as above.

In [ ]:
### Math Scores by Grade\*\*

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
### Reading Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
### Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [ ]:
### Scores by School Size

* Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [ ]:
### Scores by School Type

* Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

As final considerations:

* Use the pandas library and Jupyter Notebook.
* You must submit a link to your Github/Git Lab repo that contains your Jupyter Notebook.
* You must include a written description of at least two observable trends based on the data.
* See [Example Solution](PyCitySchools/PyCitySchools_starter.ipynb) for a reference on the expected format.